h2 {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 25px;
  text-decoration:underline;
}
h3 {
  color:blueviolet;
}
.cSharp,.rubyOnRails, .javascript, .python {
  display: none;
  padding-top: 35px;
  color: #4A5356;
  font-size: larger;
  font-weight: bold;
  text-indent: 10%;
}
.question {
  font-weight: bold;
}